<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personService" class="ru.otus.sinetskii.service.PersonServiceImpl">
        <constructor-arg name="dao" ref="personDao"/>
    </bean>

    <bean id="personDao" class="ru.otus.sinetskii.dao.PersonDaoImpl"/>

    <bean id="examineService" class="ru.otus.sinetskii.service.ExamineServiceImpl">
        <constructor-arg value="static/tasks.csv"/>
    </bean>
</beans>